<body>
	<div id="page">
        <div id="footer">
            <div>
                <div>
                    <h1>Plants</h1>
                    <ul>
                        <li>
                            <a href="index">Home</a>
                        </li>
                        <li>
                            <a href="gardens">Garden</a>
                        </li>
                        <li>
                            <a href="shop">Shop</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Bees</h1>
                    <ul>
                        <li>
                            <a href="location">Locations</a>
                        </li>
                        <li>
                            <a href="products">Products</a>
                        </li>
                        <li>
                            <a href="about">About</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Contact</h1>
                    <ul>
                        <li>
                            <a href="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Connect</h1>
                    <a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" id="mail">Email us</a>
                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
                </div>
            </div>
            <p>
                Buttercup Bees & Nursery
            </p>
        </div>
    </div>
</body>
</html>