
            <div>
                <div>
                    <h1>Plants</h1>
                    <ul>
                        <li>
                            <a href="index">Home</a>
                        </li>
                        <li>
                            <a href="gardens">Garden</a>
                        </li>
                        <li>
                            <a href="shop">Shop</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Bees</h1>
                    <ul>
                        <li>
                            <a href="location">Locations</a>
                        </li>
                        <li>
                            <a href="products">Products</a>
                        </li>
                        <li>
                            <a href="about">About</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Shop</h1>
                    <ul>
                        <li>
                            <a href="shop">Shop</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Connect</h1>
                    <a href="about" id="mail">Email us</a>
                    <a href="about" id="facebook">Facebook</a>
                    <a href="about" id="twitter">Twitter</a>
                    <a href="about" id="googleplus">Google&#43;</a>
                </div>
            </div>
            <p>
                Buttercup Bees & Nursery
            </p>
        

