
  <div id="page">
    <div id="body">
      <div id="content">	
		  	<h1>About</h1>
				<h3 class="first">Where it started</h3>
				<p>
					Buttercup Bees & Nursery was started with the idea to share our love of bees and plants with everyone. We started with just a couple small hives and we're now selling wax products to people across cache valley. 
				</p>
				<h3>The Founders</h3>
				<p>
					The original idea was formed by Savanna and Andrew Martin, who were then convinced to make a little business out of it by there good friend Chantel Savage. 
					Eventually an awesome Website was created with the help of Andrew Martin and Dalen Bean
				</p>
				<h3>Bee Part of Our Community</h3>
				<p>
					If you are looking to help the bees in your community consider starting your own hive or planting bee friendly plants for the bees near you. 
				</p>
			</div>
		</div>
	  </div>