	<div id="page">
		<div id="body">
			<div class="header">
				<div>
					<a href="index"><img src="images/Home_Page.jpg" alt="Image"></a>
					<div>
						<h1><a href="gardens">Buttercup Bees & Nursery</a></h1>
						<p>
							Welcome to Buttercup Bees & Nursery<a href="gardens" class="continue"></a>
						</p>
					</div>
				</div>
				<ul>
					<li>
						<a href="index" class="figure"><img src="images/gardening2.jpg" alt="Image"></a>
						<h3><a href="index">Tips</a></h3>
						<p>
							Learn about some interesting bee facts
						</p>
					</li>
					<li>
						<a href="gardens" class="figure"><img src="images/gardening3.jpg" alt="Image"></a>
						<h3><a href="gardens">Happy Gardener</a></h3>
						<p>
							Get your garden started
						</p>
					</li>
					<li class="last">
						<a href="location" class="figure"><img src="images/locations_index.jpg" alt="Image"></a>
						<h3><a href="location">Bee Locations</a></h3>
						<p>
							See where the bees are at
						</p>
					</li>
				</ul>
			</div>
			<div class="footer">
				<img src="images/tips.jpg" alt="Image">
				<div>
					<h1>Bee Facts</h1>
					<ol>
						<li>
							<p>
								Drones can be one sign of overall hive health. 🐝 The queen decides whether she lays a drone egg or a worker egg depending on the needs of the hive.
							</p>
						</li>
						<li>
							<p>
								A single bee will produce only about 1/12 of a teaspoon of honey in its lifetime.
							</p>
						</li>
						<li>
							<p>
								The queen can lay about 2,000 eggs a day! The other bees act as nurses, foragers, housekeepers, HVAC and so much more!!
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>

	</div>
</body>
