<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id="page">
    <div id="header">
      <%- include("_header") %>
    </div>
  
    <div id="body">
      <%- body %>

      <div id="footer">
        <%- include('_footer') %>
      </div>
    </div>
   
</div>  

</body>
</html>

